
.todolist {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

.line {
    position: absolute;
    width: 1px;
    left: 30%;
    border: 1px grey dashed;
    height: 100%;
}

.sphere {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: grey;
    left: calc(30% - 16px);
    transform: translateX(-15%);
    top: 0;
    border-radius: 50%;
    color: white;
}

.active {
    background: #da4f49;
}
