.priority,
.status {
  display: flex;
  border-radius: 4px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.complete,
.low {
  background: rgba(104, 178, 102, 0.2);
}

.complete p,
.low p {
  color: #68b266;
}

.medium,
.inProgress {
  background: rgba(255, 165, 0, 0.2);
}

.medium p,
.inProgress p {
  color: #ffa500;
}

.high,
.todo {
  background: rgba(255, 108, 101, 0.2);
}

.high p,
.todo p {
  color: #ff6c65;
}