.navLink {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 180px;
  border-radius: 4px;
  height: 50px;
  color: #787486;
}
.navLink img {
  width: 20px;
  aspect-ratio: 1;
  filter: invert(51%) sepia(12%) saturate(405%) hue-rotate(213deg)
    brightness(87%) contrast(93%);
}
